<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: rgb(84, 211, 82);color: white;">
        <h2>CHARGE CORRECT</h2>
    </div>
</div>

<script>
    function redireccionar(pagina) {
        location.href = pagina;
    } 

    function volver() {
        
        setTimeout(redireccionar, 2500, '/auth/admin');
    }

    volver();
    
</script>
