<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHAT</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h3 class="text-center mt-2">Bienvenidos al Chat  </h3>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <form id="chatForm" class="mb-4 bg-light p-4 rounded">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input id="email" type="email" name="email" class="form-control" placeholder="Ingresa tu email" required>
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Mensaje</label>
          <input id="message" type="text" name="message" class="form-control" placeholder="Escribe tu mensaje" required>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
  </div>
</div>

<div id="messageForm">

</div>
<script src="/socket.io/socket.io.js"></script>

<script>
    const socket = io();
const chatForm = document.getElementById("chatForm");
const messageInput = document.getElementById("message");
const emailInput = document.getElementById("email");
const chatPool = document.getElementById("messageForm");

const sendMsg = (msgInfo) => {
    console.log("enviando mensaje desde el front");
    console.log(msgInfo)
  socket.emit("client:message", msgInfo);
} 

const renderChat =  (chat) => { 
             
    const html =  chat.map ((msg) => {
        return (`
        
        <p> <span class="text-primary" >${msg.email} </span><span class="text-danger"> ${msg.time}</span> <span class="text-success" > ${msg.message}</span>  </p>
                
        `);

    });
    chatPool.innerHTML = html.join("");
}

const submitHandlerChat = (e) => {
    e.preventDefault();
    const msgInfo = {
        username: emailInput.value,
        email: emailInput.value,
        message: messageInput.value,
       // time : new Date().toLocaleString()
    };
    sendMsg(msgInfo);
    chatForm.reset();
}

chatForm.addEventListener("submit", submitHandlerChat);

socket.on("server:message",renderChat)

</script>
</body>
</html>