<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: rgb(67, 222, 19);color: white;">
        <h1>Compra Finalizada</h1>
    </div>
</div>

<script>
    function redireccionar(pagina) {
        location.href = pagina;
    } 

    function volver() {
        console.log('volver');
        setTimeout(redireccionar, 2500, '/login');
    }

    volver();
    
</script>
