<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Shoes Sail</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css">
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">The Shoes Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto ms-0">
            <li class="nav-item">
              <a class="nav-link" href="category/men">Men</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="category/men">Woman</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/category/men">Kids</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto me-0">
            <li class="nav-item">
              <a class="nav-link" href="/auth/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/register">Register</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Contenido -->
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-6">
          <img src="https://cdn5.dibujos.net/dibujos/pintados/202301/zapatillas-de-nino-moda-12589170.jpg" class="img-fluid" alt="Zapatillas en venta">
          
        </div>
        <div class="col-md-6">
          <h1 class="fw-bold">Zapatillas en venta</h1>
          <p class="lead">Descripción breve de las zapatillas en venta.</p>
          <a href="#" class="btn btn-primary">Comprar ahora</a>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
