<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: red;color: white;">
        <h1>ROUTING ERROR</h1>
        <p>La página solicitada no existe</p>
        <p>Redireccionando a la página de login...</p>
    </div>
</div>

<script>
    function redireccionar(pagina) {
        location.href = pagina;
    } 

    function volver() {
        console.log('volver');
        setTimeout(redireccionar, 1000, '/');
    }

    volver();
    
</script>
